:root{
    --bg-color: #121f3d;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
button{
    cursor: pointer;
    background-color:transparent;
    border: none;
}
body{
    background: gray;
    font-family: 'Roboto', sans-serif;
}
.content{
    height: 100vh;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--bg-color);
    text-align: center;
    color: #ffff;
}
header{
    margin: 0 auto;
    width: 100%;
}
.header-list{
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
    padding: 30px;
}
.header-button{
    width: 60px;
    height: 60px;
    border: 2px solid gray;
    border-radius: 50%;
    font-size: 2rem;
    color: #ffff;
}
.hero-time p{
    font-size: 6rem;
}
.hero-time p>span:last-child{
    font-size: 3rem;
}
.hero-buttons{
    margin-top: 2rem;
}
.hero-buttons button:nth-child(1){
    background-color: #00c49a;
    margin-right: 10px;
}
.hero-buttons button:nth-child(2){
    background-color:#ef476f;
    margin-right: 10px;
}
.hero-buttons button:nth-child(3){
    background-color:#9197ae;
}
.hero-button{
    width: 70px;
    height: 30px;
    font-size: 1.8rem;
    border-radius: 10px;
    color: #ffff;
}
footer{
    height: 34px;
    padding-bottom: 15px;
    font-size: 1.6rem;
}


